/*
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

* {
    margin: 0;
    padding: 0;

}

html {
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
    background-image: url(Images/bgcmain1.jpg);
    background-size: cover;




}

/* Nawigacja */
/*nav {
    max-width: 1440px;
    margin: 30px auto;
    text-align: right;

}

nav a {
    display: inline-block;
    font-size: 1.8rem;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 0 20px;

}

nav a.reservation {
    font-size: 2.2rem;
    border: 2px solid #555;
    padding: 10px 30px;
    letter-spacing: 1px;
    margin-right: 50px;
    margin-left: 80px;
    transition: .2s;
}

nav a:hover {
    border-bottom: 2px solid #555;
    color: black;
}

nav a.reservation:hover {
    background-color: black;
    color: white;
    border-color: white;
}*/

nav {
    width: 90%;
    max-width: 1024px;
    background-color: black;
    margin: 30px auto;
    padding: 0 30px;
    border-radius: 300px;

}

nav ul {
    list-style: armenian;
    font-size: 0;


}

nav ul li {
    display: inline-block;
    width: 20%;


}

nav ul li a {
    max-height: 1024px;
    display: block;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: arial;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px;
    text-align: center;
    transition: .5s;

}

nav ul li a:hover {
    background-color: #555;

}


/* Header */
header {
    height: 90vh;
    /*width: 100vh;
    margin-left: auto;
    margin-right: auto;*/
    background-image: url(Images/mainlogo.jpg);
    /*background-size:100% 110%;*/
    background-position: center;
    background-size: cover;
}

header h1 {
    font-size: 6rem;
    color: white;
    text-align: center;
    line-height: 90vh;
    background-color: rgba(0, 0, 0, 30%);

}



/*Main*/
main {
    max-width: 1440px;
    margin: 5vh auto;
    font-size: 0;
}

main p.description {
    font-size: 2.6rem;
    text-align: center;
    color: black;
    margin: 0 30px 50px 30px;
    line-height: 180%;
}

main div.product {
    display: inline-block;
    width: 33.33%;


}

main div.image1 {
    height: 300px;
    background-image: url(Images/smalliconprod1.jpg);
    background-size: cover;
    background-position: center;
    margin: 20px 30px;
    transition: .3s;
}

main div.image2 {
    height: 300px;
    background-image: url(Images/smalliconprod2.jpg);
    background-size: cover;
    background-position: center;
    margin: 20px 30px;
    transition: .3s;

}

main div.image3 {
    height: 300px;
    background-image: url(Images/smalliconprod3.jpg);
    background-size: cover;
    background-position: center;
    margin: 30px 30px;
    transition: .3s;

}

main h2 {
    font-size: 2rem;
    text-align: center;

}

main div.image1:hover {
    transform: scale(1.1);
}

main div.image2:hover {
    transform: scale(1.1);
}

main div.image3:hover {
    transform: scale(1.1);
}


/*Stopka*/
footer {
    background-color: #000;

}

footer p {
    color: white;
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
}
